html,body{
    font-size:16px;
    height: 100%;
    background-color:rgb(78, 78, 78);
    color: white;
}

table, th, td{
    color : white;
}

#title-div div{
    /* border : blueviolet 2px solid; */
    height: 100%;
}

#search-div div{
    height: 100%;
}

#main-div {
    background-color: rgb(55, 55, 55);
    padding: 1.1em 1.1em 0.5em 1em;
    height: auto;
}

.nav-pills .nav-link.active{
    background-color: rgb(55, 55, 55);

}
.nav-pills a{
    color:white;
}
.nav-pills a:hover{
    color: rgba(255, 255, 255, 0.5);
}

#main-div .tab-pane{
    /* border: teal 2px solid; */
    height: 100%;
}


#main-div .tab-pane[id="pills-sell"] .inner-left {
    /* border: chartreuse 3px solid; */
    padding : 0.3rem;
} 
#main-div .tab-pane[id="pills-sell"] .sell-tab-top{
    overflow: auto;
    width: auto;
    height: auto;

}

#main-div .tab-pane[id="pills-sell"] .itemlist{
    text-align: center;
}

.clicked-item{
    text-align: center;
    margin: auto;
}

#detailed-div{
    border: 2px white solid;
    border-radius: 5%;
}

#pills-tabContent, #detailed-div{
    padding : 1em;
}

#search-price input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
#search-price input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.buy-tab{
    /* border:rgb(42, 23, 150) 5px solid; */
    padding: 1em 1.1em;
    text-align: center;
    background-color:dimgray;
}

.buy-tab .bottom-image::after{
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
}


.buy-tab .bottom-image img{
    vertical-align: middle;
}

.buy-tab .bottom-button .btn{
    vertical-align: middle;
    margin-bottom: 10px;
}

.sell-tab-bottom{
    border: rgb(190, 29, 118) 2px solid;
}

#history_search, #buy_item{
    width: 10em;
}

